/* This is the styling file for the Landing Page */

body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 0;
}

img {
    overflow-clip-margin: content-box;
    width: 100px;
    height: 100px;
}

/* Header Styling and Structure */
.Header,
.Header-extra-box {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    text-align: center;
    background-color: #1F2937;
}

.header-logo {
    font-size: 14px;
    color: #F9FAF8;
    margin: auto;
}

.Header-extra-box {
    font-size: 12px;
    color: #F9FAF8;
    margin: auto;
}


/* Hero Styling and Structure */
.Hero {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #1F2937;
    gap: 50px;
    padding: 150px;
}

.Hero-Text {
    display: block;
    max-width: 350px;
    text-align: left;
    margin: auto;
}

#Hero-main-text {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}

#Hero-secondary-text {
    font-size: 18px;
    color: #E5E7EB;
}

.Hero-image {
    display: flex;
    justify-content: center;
    margin: auto;
    height: 300px;
    width: 350px;
}

#hero-sign {
    border: 2px solid #F9FAF8;
    border-radius: 15px 50px 30px 5px;
    background-color:#3882F6;
    color:#F9FAF8;
    padding: 14px 28px;
    font-size: 16px;
    font-weight: 800;
    cursor: pointer;
}

/* Secondary Body Styling and Structure */
.Secondary {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 52px;
}

.secondary-title {
    font-weight: 800;
    font-size: 36px;
    color: #1F2937;
}

.image-box {
    display: block;
    max-width: 200px;
    height: auto;
}

#image-p {
    
}

/* Tertiary Body Styling and Structure */
.Tertiary {
    display: block;
    padding: 200px;
    background-color: #E5E7EB;
}

.inspiration-quote {
    font-size: 36px;
    font-weight: 300;
    text-align: left;
    font-style: italic;
    color: #656f80;
}

.quote-author {
    font-size: 20px;
    text-align: right;
}

/* Quaternary Body Styling and Structure */
.Quaternary {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 120px 300px 120px 300px;
    padding: 40px;
    border-radius: 10px;
    color: #F9FAF8;
    background-color: #3882F6;
}

.Quaternary-text {
    text-align: left;
}

#QH1 {
    font-size: 30px;
    color: #F9FAF8;
}

#QP1 {
    font-size: 25px;
    color: #F9FAF8;
}

#Quaternary-button {
    border: 2px solid #F9FAF8;
    border-radius: 15px 50px 30px 5px;
    background-color:#3882F6;
    color:#F9FAF8;
    padding: 14px 28px;
    font-size: 16px;
    font-weight: 800;
    cursor: pointer;
}